<section class="innerpage about">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-5">
				<%= image_tag asset_path("/assets/image-item-1.jpg") %>
			</div>
			<div class="col-lg-7">
				<div class="element_title">
				    <h3 class="title">_Hiya, welcome to Worldwide Fests!</h3>
				    <h2 class="sub_title">About</h2>
			   	</div>
			   	<div class="pad-3-5">
			   		<h3>We are fest-lovers, just like you.</h3>
				   <p>And, if you are reading this, we guess you are either going to a music festival or exploring options to attend one soon! Whatever the case, we are on a mission to connect fest-lovers around the world and simplify your festival experience.</p>
				   <h3>I’d love to enhance my festival experience! Tell me more.</h3>
				   <p>Remember the time when you spent innumerable hours online to find basic information to attend your fest? And, how frustrating things became if your dream fest were in a different country? (Yes, we’ve had our moments).</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-7">
				<div class="pad-3-5">
					<h3>Fret no more, young festgoer! We got you. </h3>
					<p>With Worldwide Fests, we are doing all the hard work to help you Find, Plan, Book and Validate everything related to your festival right here!</p>
					<h3>I am relieved! Finally, a one-stop-shop for festival information! Woohoo!</h3>
					<p>That’s right. </p>
				</div>
			</div>
			<div class="col-lg-5">
				<%= image_tag asset_path("/assets/image-item-1.jpg") %>
			</div>
		</div>
	</div>
	<div class="black-bg type-1">
		<h3>Our goal is to save you time (and preserve your sanity) by simplifying things and helping you attend fests with ease.</p>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-5">
				<%= image_tag asset_path("/assets/image-item-1.jpg") %>
			</div>
			<div class="col-lg-7">
				<div class="pad-3-5">
					<p>Did you ask, how? We are building something cool and will update you soonest!</p>

					<h3>Until then, we request your patience, please :)</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="black-bg mar-0 type-4">
		<h3>Have fun searching our site.</h3>
	</div>
</section>