<section class="innerpage about">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-5">
				<%= image_tag asset_path("/assets/image-item-1.jpg") %>
			</div>
			<div class="col-lg-7">
				<div class="element_title">
				    <h3 class="title">Hiya! Welcome to WorldWide Fests!</h3>
				    <h2 class="sub_title">About</h2>
			   	</div>
			   	<div class="pad-3-5">
				   <p>If you are reading this, you are either going to a festival or exploring options to attend one soon. Whatever the case, we are on a mission to <strong>consolidate fests around the world</strong> and simplify the fest travel experience for you.</p>
				   <h3>I’d love to enhance my fest travel experience! Tell me more.</h3>
				   <p>Remember the time when you spent innumerablehours online to find basic information to plan a fest trip?</p>

					<p>And, how frustrating things became if your dream event were in a different country? (Yes, we’ve had our moments).</p>
					<p>But, fret no more!</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-7">
				<div class="pad-3-5">
					<p>With WorldWide Fests, we have done all the hard work and have created a seamless, integrated platform to help you Find, Plan and Book everything related to your festival travel, right here! We want to save you time (and preserve your sanity)!</p>
				  	<h3>I am relieved! Finally, a one-stop-shop for fest travel planning and booking! Woohoo!</h3>
				</div>
			</div>
			<div class="col-lg-5">
				<%= image_tag asset_path("/assets/image-item-1.jpg") %>
			</div>
		</div>
	</div>
	<div class="black-bg type-1">
		<h3>Our goal is to empower you to experience global fests with the confidence and comfort of a local.</h3>
		<p>Yaass! I love Glocal.</p>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-5">
				<%= image_tag asset_path("/assets/image-item-1.jpg") %>
			</div>
			<div class="col-lg-7">
				<div class="pad-3-5">
					<p>But wait, there’s more!</p>

					<p>We love delving deep into your likes and dislikes.
					What interests you? Are you into camping or skiing?
					Do you prefer partying at a beach or chilling on a
					yacht? Or is it a forest or a desert or a camp fest
					that entices you?</p>

					<p>You’d be our favourite if you told us you are an
					explorer and love experiencing something new each
					time!</p>

					<h3>Whatever your beat, we bet we’ve got a chord
					(Oops! fest) for you! ;)</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="black-bg mar-0 type-4">
		<h3>I am ready. Surprise me, my FestAdvisor!</h3>
	</div>
</section>