/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import "bootstrap.min";
@import "animate";
@import "font-awesome.min";
@import "nivo-slider";
@import "owl.carousel";
@import "owl.transitions";
@import "slick";
@import "static_pages";

html, body {
  font-family: 'Roboto', sans-serif;
  color: #1c303e;
  height: 100%;
  margin: 0;
  padding: 0;
}
img {
    max-width: 100%;
    height: auto;
}
a{
    cursor: pointer;
}
ul {
    padding-left: 0px;
    margin-bottom: 0px;
    margin: 0;
}
p{
  margin: 0;
}
li {
    list-style-type: none;
}
.no-gutter{
    padding-left: 0;
    padding-right: 0;
}
.mt-30 {
    margin-top: 30px !important;
}
.mt-40 {
    margin-top: 40px;
}
.mt-20 {
    margin-top: 20px;
}
.mb-20 {
    margin-bottom: 20px;
}
p{
    color: #999;
}
a:hover{
    text-decoration: none;
    background: transparent;
}
.logo img{
    width: 100px;
}
.darkHeader{
   background: rgba(255,255,255,.91) !important;
   .logo img{
    width: 70px;
  }
}
.main-menu{
  margin: 0;
  nav {
  box-shadow: 0px 6px 10px 0px rgba(255, 53, 20, 0.2);
    ul li{
      padding: 0.5rem 1rem !important;
      a{
        color: #000;
        font-size: 14px;
        font-weight: 400;
        display: block;
        text-transform: uppercase;
        position: relative;
        padding: 0 !important;
        &::before {
          position: absolute;
          content: "";
          bottom: -6px;
          width: 0%;
          border-bottom: 5px dotted #000;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s;
        }
      }
    }
  }
} 

.main-menu ul li a:hover::before, .main-menu ul li.active a::before {
    width: 101%;
}

.main-slider-area {
    padding: 14rem 0 12rem;
    background-image: image-url("banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.home-glow-text h2 {
    color: #fff;
    font-size: 3em;
    line-height: 1;
    margin: 0;
    padding: 0;
    font-weight: bold;
    margin-top: 7rem;
    -webkit-animation: anim 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation: anim 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@-webkit-keyframes anim {
    0%{text-shadow:-6px 4px 0px red;}
    10% {text-shadow:4px -6px 0px green;}
    20% {text-shadow:-9px 4px 0px blue;}
    30% {text-shadow:4px -6px 0px yellow;}
    40% {text-shadow:-8px 4px 0px orange;}
    50% {text-shadow:4px 5px 0px purple;}
    60% {text-shadow:-6px 4px 0px brown;}
    70% {text-shadow:4px 7px 0px pink;}
    80% {text-shadow:-9px -4px 0px lime;}
    90% {text-shadow:4px -6px 0px cyan;}
    100% {text-shadow:-9px 4px 0px teal;}
} 

@keyframes anim {
    0%{text-shadow:-6px 4px 0px red;}
    10% {text-shadow:4px -6px 0px green;}
    20% {text-shadow:-9px 4px 0px blue;}
    30% {text-shadow:4px -6px 0px yellow;}
    40% {text-shadow:-8px 4px 0px orange;}
    50% {text-shadow:4px 5px 0px purple;}
    60% {text-shadow:-6px 4px 0px brown;}
    70% {text-shadow:4px 7px 0px pink;}
    80% {text-shadow:-9px -4px 0px lime;}
    90% {text-shadow:4px -6px 0px cyan;}
    100% {text-shadow:-9px 4px 0px teal;}
} 

.custom_heading {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
}

.fest-form{
    background:rgba(255,255,255,.50);;
    border-radius: 10px;
    padding: 1.5rem 2rem;;
  h1{
    color: inherit;
    font-size: 1rem;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  form{
    margin-top: 1rem;
    max-width: 100%;
  }
  select{
    width: 100% !important;
  }
  button{
    width: 100%;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
  }
}

.admission_curosel.curosel-style .owl-nav div {
    border: 0;
    border-radius: 0;
    color: #016948;
    font-size: 27px;
    height: 0;
    left: -14px;
    line-height: 0;
    top: 39%;
    width: 0;
}
.admission_curosel.curosel-style .owl-nav .owl-next {
    right: 6px;
    left: auto;
}
.curosel-style .owl-nav .owl-next:hover {
    background: transparent;
    color: #ff896a;
}
.curosel-style .owl-nav div {
    border: 2px solid #016948;
    border-radius: 50%;
    color: #016948;
    font-size: 19px;
    height: 44px;
    left: -45px;
    line-height: 40px;
    position: absolute;
    top: 46%;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    width: 44px;
    text-align: center;
    z-index: 99;
    -webkit-transform: translateY(-49%);
    -ms-transform: translateY(-49%);
    transform: translateY(-49%);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.fa-arrow-left:before{
    content: '\e64a';
    font-family: 'themify';
}
.fa-arrow-right:before{
    content: '\e649';
    font-family: 'themify';
}
.admision_area{
    max-width: 99%;
    padding-top: 5rem;
}
.admision_area, .explore_area{
  padding-bottom: 3rem;
}

.section_title_style2 h2{
    margin-left: 15px;
}
.admission_content_inner h3{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    padding-top: 0.5rem;
}
.section_title_style2 p{
    width: 50%;
    margin: 0 auto;
    padding: 0.5rem 0 2rem;
}

.main_area{
    background-color: #f3f6ff;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 80px 0;
  nav{
    width: 100%;
  }
  .wwf-breadcrumb{
    display: flex;
    width: 100%;
    div{
      flex: 1;
      h3{
        font-weight: bold;
        font-size: 1.3rem;
      }
      display: block;
      padding: 3rem;
      color:#fff;
      font-family: 'Roboto', sans-serif;
      p{
        color: #fff;
      }
    }
  }
}
.main-container-block{
    padding: 50px 30px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    background: #179dac;
    text-align: center;
    -webkit-box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.1);
}
.type-1{
  background: #e5059a;
}
.type-2{
    background: #7e75aa;
}
.type-3{
    background: #ef684c;
}
.type-4{
    background: #efbc2a;
}
.main-container-block h3{
    font-weight: 600; 
    margin: 3rem 0;
    color: #fff;
}
.btn {
    padding: 12px 25px;
    font-weight: 500;
    color: #111121;
    border-radius: 5px;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 9;
    -webkit-box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.1);
}
.btn-border-white{
  border: 1px solid #fff;
  padding: 0.2rem 1rem;
  display: inline-block;
  font-size: 0.8rem;
  color: #fff;
  margin-bottom: 0.5rem;
  transition: all 0.25s;
  border-radius: 0;
  &:hover{
    background: #fff;
  }
}
.btn.btn-white {
    background: #ffffff;
    color: #111121;
}

.footer-middle {
    background: #222;
    padding: 2rem 0px 0px 0px;
    .col-md-6{
      ul{
        li{
          float: left;
          margin-right: 2rem;
        }
      }
    }
}
.footer-1-bar {
    border-top: 1px solid #444;
    padding: 15px 0px;
    margin-top: 0.5rem;
}
.footer-1-bar p {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
}

.footer-middle .social-links-footer li {
    display: inline-block;
    margin-right: 15px;
    float: none !important;
}
.footer-middle .social-links-footer a {
    color: #fff;
    font-size: 17px;
}
.footer-middle h2 {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
}
.footer-nav li {
    margin: 5px 0px;
}
.footer-nav a {
    color: #fff;
    font-size: 14px;
}
.footer_address_inner ul li i {
    float: left;
    margin-right: 10px;
    padding-top: 4px;
    font-size: 20px;
    color: #fff;
}
.footer_address_inner p {
    overflow: hidden;
    color: #fff;
  margin-bottom: 1rem;
}

.explore_area{
  padding-top: 5rem;
  .explore_content {
    padding: 0.5rem 1rem;
    border: 1px solid #f4f4f4;
    p{
      margin: 0;
    }
    h5{
      font-size:16px;
      padding-top: 0.5rem;
    }
    .details{
      font-size: 12px;
      color: #999;
    }
  }
  .single_explore{
    -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  }
}

.editors_area{
  padding-top: 5rem;
  .each-editor{
    margin-bottom: 30px;
    .card{
      -webkit-box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.1);
    }
  }
  .card-header{
    padding: 0;
    max-height: 115px;
    oveflow: hidden;
    text-align: center;
    img{
      max-height: 100%;
    }
  }
  
  .card-block{
    padding: 1rem;
    h4{
      padding: 0.5rem 0;
      font-size: 12px;
      display: block;
      display: -webkit-box;
      max-width: 100%;
      height: 37px;
      margin: 0 auto;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 0.3rem;
    }
    p{
      margin: 0;
    }
  }
} 

.inner-banner{
  padding-top: 10rem;
  padding-bottom: 3rem;
  h2, h3{
    color: #000;
  }
}
.each-event{
  margin: 1rem 0;
  border: 1px solid #ddd;
  .event_thumb, .event_thumb_rect{
    background: #f3f3f3;
    height: 348px;
    overflow:hidden;
    img{
      max-height: 100%;
    }
  }
  .event_thumb_rect{
    height: 405px
  }
  .event_content{
    padding: 0.3rem 1rem;
    h5{
      font-size: 1rem;
    }
    .details{
      color: #666;
      font-size: 0.7rem;
    }
  }
}

.btn-book{
  border: 1px solid #000;
  padding: 0.2rem 1rem;
  display: inline-block;
  font-size: 0.8rem;
  color: #000;
  margin-bottom: 0.5rem;
  transition: all 0.25s;
  &:hover{
    background: red;
    color:#fff;
  }
}
.btn-dark{
    width: 100%;
    color: #fff !important;
  }
.search-form {
  position: relative;
  .search-input-env {
    visibility: hidden;
    position: relative;
    zoom: 1;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 120ms ease-in-out;
    transition: all 120ms ease-in-out;
    .form-control {
      height: 35px;
      padding-right: 43px;
      position: absolute;
      right: 35px;
      top: 50%;
      width: 200px;
      border-color: #EEE;
      box-shadow: none;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
      background-clip: padding-box;
      border-radius: 0;
      box-shadow: none;
      font-weight: 300;
    }
  }
  .search-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 4px;
    width: 28px;
    height: 28px;
    -webkit-transition: all 250ms;
    transition: all 250ms;
    svg {
      width: 100%;
      height: 100%;
      fill: #fff;
    }
  }
  &.input-visible .search-input-env {
    visibility: visible;
    zoom: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

// Login
.new_user{
    padding-top: 6rem;
    width: 30rem;
    margin: 0 auto;
}

.show_page{
  padding-top: 9rem;
   .col-md-4{
    padding-right: 0 !important;

  }
  .image-block{
    padding: 3rem 0;
  }
  .card{
    background: #010101;
    .icon{
      height: 35px;
      padding: 0.5rem 0 0.3rem;
      img{
        height: 100%;
        width: auto
      }
    }
    p{
      font-size: 10px;
      padding: 0.2rem 0;
      color: #fff;
    }
  }
  .icon{
    height: 100px;
    overflow: hidden;
    img{
      height: 100%;
    }
    padding-bottom: 1rem;
  }
}

.link{
  margin-bottom: 2rem;
  display: block;
}
.checkbox{
  input{
    margin-right: 0.5rem;
  }
}

.seperator{
  .stripe {
    display: block;
    width: 100%;
    height: 8px;
    margin: 0 auto;
  }
}

span.help-block{
  color: red;
}

.purple-area{
  background: #7e75aa;
  padding: 3rem 0;
  color: #fff;
}
.orange-area{
  background: #efbc2a;
  padding: 3rem 0;
  color: #fff;
}

.simple-search{
  .form-group{
    margin-bottom: 0;
    position: absolute;
    right:0;
    .form-control{
      width: 20rem;
    }
  }
  .input-group-append{
    position: absolute;
    right:0;
  }
  .btn{
    padding: 7px 25px
  }
}