//about

.innerpage{
    margin-right: 0px !important;
    margin-left: 0px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding: 10rem 0 3rem;
    &.about{
        p{
            margin-bottom: 1rem;
            font-size: 1rem;
            line-height: 1.8rem;
            color: #1c303e
        }
        h3{
            margin:1rem 0;
            color: #000;
        }
        .row{
            padding-bottom: 5rem;
        }
    }
}
.black-bg{
    padding: 3rem 15rem;
    text-align: center;
    margin-bottom: 5rem;
    color: #fff;
    p{
        margin-bottom: 0 !important;
        color: #fff;
    }
}
.inner-page{
	padding: 3rem 0;
}

.element_title {
    position: relative;
    z-index: 1;
	 .title {
        position: relative;
        z-index: 1;
        font-family: 'BebasNeueBook', sans-serif;
        color: #d90057;
        font-size: 60px;
        letter-spacing: 6px;
        padding-left: 160px;
        margin: 0 0 40px;
	}
	.sub_title {
    position: absolute;
    top: -52px;
    left: 100px;
    color: rgba(0, 0, 0, 0.15);
    font-size: 150px;
    letter-spacing: 15px;
    margin: 0;
	}
}

.pad-3-5{
    padding: 3rem 5rem;
}
.mar-0{
    margin: 0;
}

.google_map_area {
    pointer-events: none;
}

.form_title h2 {
    font-size: 35px;
    padding-bottom: 32px;
}
.form_field {
    width: 100%;
    .form_field_inner, .field_comment_inner {
        margin-bottom: 35px;
        width: 100%;
        input, textarea {
            background: transparent;
            border: 1px solid #ccc;
            font-size: 16px;
            font-weight: 500;
            height: 50px;
            -webkit-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
            width: 100%;
            outline: none;
            padding-left: 15px;
            border-radius: 5px;
            color:#000;
        }
        textarea {
            height: 176px;
            padding-top: 10px;
        }
    }
    label {
        color: #000;
        cursor: pointer;
        font-weight: 400;
    }
}

.contact-banner{
    padding-bottom: 2rem;
    img{
        width: 100%;
    }
}